<section class="main">
    <div class="container">
        <h1 class="title">Редактирование дохода/расхода</h1>
        <div class="created">
            <input type="text" class="form-control mb-2" placeholder="Тип" value="Доход">
            <input type="text" class="form-control mb-2" placeholder="Категория" value="Зарплата">
            <input type="text" class="form-control mb-2" placeholder="Сумма" value="500$">
            <input type="text" class="form-control mb-2" placeholder="Дата" value="11.09.2022">
            <input type="text" class="form-control" placeholder="Комментарий..." value="">
            <div class="create-btn">
                <a href="#" class="btn btn-success">Создать</a>
                <a href="#/operations" class="btn btn-danger">Отмена</a>
            </div>
        </div>
    </div>
</section>