<section class="main">
    <div class="container">
        <h1 class="title">Создание дохода/расхода</h1>
        <div class="created">
            <input type="text" class="form-control mb-2" placeholder="Тип" aria-label="Имя">
            <input type="text" class="form-control mb-2" placeholder="Категория" aria-label="Имя">
            <input type="text" class="form-control mb-2" placeholder="Сумма" aria-label="Имя">
            <input type="text" class="form-control mb-2" placeholder="Дата" aria-label="Имя">
            <input type="text" class="form-control" placeholder="Комментарий..." aria-label="Имя">
            <div class="create-btn">
                <a href="#" class="btn btn-success">Создать</a>
                <a href="#/operations" class="btn btn-danger">Отмена</a>
            </div>
        </div>
    </div>
</section>
