* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 100;
    line-height: unset;
}

@font-face {
    src: url("fonts/Roboto-Regular.ttf");
    font-family: 'Roboto', sans-serif;
}

@font-face {
    src: url("fonts/Roboto-Medium.ttf");
    font-family: 'Roboto Medium', sans-serif;
}

body {
    font-family: 'Roboto Medium', sans-serif;
}

span {
    color: #0D6EFD;
    font-size: 14px;
    font-family: "Roboto Medium", sans-serif;
    line-height: 16px;
}

.notactive-btn, .active-btn {
    padding: 9px 17px;
    width: 100px;
    margin-right: 20px;
    color: #6C757D;
    font-size: 16px;
    font-family: "Roboto Medium", sans-serif;
    transition: .4s;
}

#content {
    display: flex;
}

.content .btn:hover {
    background: #6C757D;
    color: white;
}

.active,
.active svg path {
    background: #0D6EFD;
    color: #FFFFFF;
    fill: #FFFFFF;
}

.nav-link path {
    fill: black;
}

.content .btn-success:hover {
    background: green;
}

.content .btn-primary:hover {
    background: #004cc2;
}

.content .btn-danger:hover {
    background: darkred;
}

.content .active-btn {
    color: white;
}

.show .button-icon svg {
    transform: rotate(90deg);
}

.filter {
    display: flex;
    align-items: center;
}

.date {
    text-align: center;
    width: 115px;
    border: none;
    outline: none;
}

.date::placeholder {
    text-align: center;
}

.form-page {
    padding: 281px 0;
}

.form-logo {
    margin-bottom: 60px;
}

.form-title {
    font-family: "Roboto Medium", sans-serif;
    color: #052C65;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 40px;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-inputs {
    width: 397px;
}

.form-control {
    font-size: 15px;
    padding: 7px 13px;
    line-height: 24px;
}

.form-control::placeholder {
    color: #6C757D;
    font-size: 15px;
    padding: 7px 13px;
    line-height: 24px;
}

.btn {
    font-family: "Roboto Medium", sans-serif;
    font-size: 14px;
    padding: 10px 16px;
    width: 397px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.btn-secondary, .btn-outline-secondary {
    max-width: 100px;
}

.form-check {
    margin-top: 10px;
}

.container {
    padding: 100px 0 100px 60px;
    max-width: 1325px;
}

.content {
    display: flex;
    position: relative;
}

.title {
    color: #052C65;
    font-family: "Roboto Medium", sans-serif;
    font-size: 40px;
}

.sidebar {
    max-width: 219px;
    background: #FFF;
    z-index: 10;
    height: 100vh;
    /*border-right: 1px solid #D9D9D9;*/
}

.logo img {
    padding: 40px 71px 20px 47px;;
}

.logo {
    border-bottom: 1px solid #D9D9D9;
}

.nav-link .active {
    border-radius: 5px;
}

.sidebar-menu {
    padding: 60px 20px;
}

.list-group-item {
    color: #052C65;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    transition: .4s;
    padding: 12px 7px 12px 16px;
}

.list-group-item svg {
    margin-right: 4px;
}

.list-group-item:hover,
.list-group-item:hover path {
    fill: white;
    color: white;
    background-color: #0249bd;
}

.dropend .dropdown-toggle::after {
    content: none;
}

.btn-group-vertical > .btn, .btn-group > .btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-group .button:hover,
.button-group .button:hover path {
    fill: white;
    color: white;
    background-color: #0249bd;
}

.sidebar-bottom-content {
    width: 219px;
    position: fixed;
    bottom: 0;
}

.balance {
    padding: 0 20px 20px 20px;
}

.main {
    border-left: 1px solid #D9D9D9;
}

.profile {
    position: relative;
    cursor: pointer;
    padding: 20px 20px 40px 20px;
    border-top: 1px solid #D9D9D9;
    display: flex;
    align-items: center;
}

.profile-img {
    padding: 10px 14px;
    background: #D9D9D9;
    border-radius: 50%;
    margin-right: 16px;
}

.nav-link {
    padding: 12px 15px;
    font-size: 14px;
    color: #052C65;
    transition: .4s;
}

.nav-link:hover,
.nav-link:hover path {
    color: white;
    fill: white;
    background-color: #0249bd;
    border-radius: 5px;
}

.button {
    color: #052C65;
    font-size: 14px;
    background: transparent;
    padding: 12px 16px;
    max-width: 178px;
    box-sizing: border-box;
    transition: .4s;
}

.button-content {
    width: 146px;
    display: flex;
    justify-content: space-between;
}

.button:hover, .button-text .button-icon svg {
    fill: white;
    color: white;
    background: #0249bd;
    border-radius: 5px;
}

.button:focus,
.button:focus path {
    fill: white;
    color: white;
    background: #0D6EFD;
    border-radius: 5px 5px 0 0 !important;
}

.logout {
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}

.profile:hover > .logout {
    display: flex;
}

.layout {
    display: flex;
}

.list-group-item:last-child, .list-group-item:first-child {
    border-radius: 5px;
}

.list-group-item-primary.list-group-item-action:hover,
.list-group-item-primary.list-group-item-action:focus {
    background: #0D6EFD;
    color: #FFFFFF;
}

.nav-item .btn {
    margin: 0;
    max-width: 179px;
}

.card-body {
    padding: 0;
}

.sidebar .card {
    border: 1px solid #0D6EFD;
}

.collapsed {
    color: black;
    background: transparent;
    border-color: transparent;
}

.link-primary {
    text-decoration: none;
}

.change-balance-window .btn {
    max-width: 200px;
}
