.title {
    margin-bottom: 40px;
}

.btn {
    margin: 0;
    padding: 11px 16px;
    max-width: 142px;
    font-size: 14px;
    font-family: "Roboto Medium", sans-serif;
}

.btn-danger{
    max-width: 89px;   
}

.card-body {
    padding: 20px;
}

.sidebar .card-body {
    padding: 0;
}

.empty {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 136px;
    transition: .4s;
}

.empty:hover {
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.6);
}

.card-title {
    font-size: 28px;
    color: #290661;
    font-family: "Roboto Medium", sans-serif;
    margin-bottom: 10px;
}

.modal-body {
    padding: 40px 40px 10px 40px;
    text-align: center;
    font-size: 20px;
    color: #290661;
    font-family: "Roboto Medium", sans-serif;
}

.modal-footer {
    padding: 10px 40px 40px 40px;
    justify-content: center;
    column-gap: 12px;
    border-top: none;
}

.btn-del{
    max-width: 110px;
}

.modal-dialog {
    max-width: 530px;
}

.create-btn {
    margin-top: 20px;
}

.card:not(.sidebar .card) {
    min-height: 138px;
    min-width: 405px;
}